<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Room</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    button:hover {
      background-color:rgb(133, 249, 133);
      }
    #submission{
      text-align: center;    
      padding-top: 100px;  
    }

    #room-container{
      text-align: center; 
      padding-top: 300px;
    }
  </style>
</head>
<body align="center">
  <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %>
  </div>
  <form id="submission" action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form>
</body>
</html>